.whiteBox {
  background-color: white;
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.blueBox {
  background-color: blue;
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.counter button {
  height: 30px;
  width: 30px;
}

.car {
  font-size: 200px;
}

.secs {
  font-size: 50px;
  color: green;
}